syntax: glob

.vs/
.vscode/
bin/**
*.sym
*.SYM
*.lst
*.map
*.noi
*.rel
*.REL
*.hex
*.HEX
*.bin
*.ihx
*.IHX
*.lk
*.LK
*.orig
*.rej
*.base.dat
dos250ba.dat
kernel.dat
nextor2.rom
info/*.pdf
source/kernel/bank*/*.inc
source/kernel/drivers/*.inc
source/kernel/drivers/**/*.inc
source/kernel/drivers/**/*.lst
!source/kernel/drivers/MegaFlashRomSD/*.bin
source/kernel/drivers/**/*.rom
source/kernel/drivers/**/*.ROM
source/kernel/bank5/*.dat
source/kernel/bank5/*.asm
source/command/msxdos/*.inc
source/command/msxdos/codes.mac
source/command/msxdos/data.mac
source/tools/**.inc
source/tools/**.asm
source/tools/**.com
source/tools/**.COM
source/tools/codes.mac
source/tools/data.mac
*conflicto*.*
*.sln
*.suo
NEXTOR.SYS
NEXTORK.SYS

linuxtools/prereq
linuxtools/mknexrom

