syntax: glob

.vs/
.vscode/
bin/**
sdk/templates/driver/*.ROM
sdk/templates/tool/*.COM
*.sym
*.SYM
*.lst
*.map
*.noi
*.rel
*.REL
*.hex
*.HEX
*.bin
*.BIN
*.ihx
*.IHX
*.lk
*.lnk
*.LK
*.orig
*.rej
*.drv
*.base.dat
dos250ba.dat
kernel.dat
nextor2.rom
info/*.pdf
source/kernel/*.bytes
source/kernel/bank*/*.inc
source/kernel/drivers/*.inc
source/kernel/drivers/**/*.inc
source/kernel/drivers/**/*.lst
source/kernel/drivers/**/*.rom
source/kernel/drivers/**/*.ROM
source/kernel/bank5/*.dat
source/kernel/bank5/*.asm
source/nextor_sys/*.inc
source/nextor_sys/codes.mac
source/nextor_sys/data.mac
source/nextor_sys/USEKMSG.MAC
source/tools/**.inc
source/tools/**.asm
source/tools/**.com
source/tools/**.COM
source/tools/codes.mac
source/tools/data.mac
*conflicto*.*
*.sln
*.suo
.build-variant*
NEXTOR.SYS
NEXTOR.SYS.japanese
nextor_base.dat
*.LST
COMMAND2.COM
